ch3-LinearRegression-checkpoint.ipynb
.DS_Store
ch4-Logistic_regression-checkpoint.ipynb
ch5-Decision_tree-checkpoint.ipynb
ch6-Bayes-checkpoint.ipynb
ch7-KNN-checkpoint.ipynb
ch8-random_forest-checkpoint.ipynb
Ch9-Adaboost与GBDT-checkpoint.ipynb
ch10-xgboost-ligthGBM-checkpoint.ipynb
ch11-preprocessing-checkpoint.ipynb
ch12-pca-checkpoint.ipynb
ch14-recommendation_system-checkpoint.ipynb
data_science/.ipynb_checkpoints/ab_test_demo-checkpoint.ipynb
ch13-Apriori_关联性分析-checkpoint.ipynb
framework.cpython-39.pyc
spark_demo/MnMCount/.classpath
spark_demo/MnMCount/.gitignore
spark_demo/MnMCount/.project
spark_demo/MnMCount/.settings/org.eclipse.core.resources.prefs
spark_demo/MnMCount/.settings/org.eclipse.jdt.core.prefs
.gitignore
