ch3-LinearRegression-checkpoint.ipynb
.DS_Store
ch4-Logistic_regression-checkpoint.ipynb
ch5-Decision_tree-checkpoint.ipynb
ch6-Bayes-checkpoint.ipynb
ch7-KNN-checkpoint.ipynb
ch8-random_forest-checkpoint.ipynb
Ch9-Adaboost与GBDT-checkpoint.ipynb
ch10-xgboost-ligthGBM-checkpoint.ipynb
ch11-preprocessing-checkpoint.ipynb
ch12-pca-checkpoint.ipynb
ch14-recommendation_system-checkpoint.ipynb
data_science/.ipynb_checkpoints/ab_test_demo-checkpoint.ipynb
ch13-Apriori_关联性分析-checkpoint.ipynb
framework.cpython-39.pyc
spark_demo/MnMCount/.classpath
spark_demo/MnMCount/.gitignore
spark_demo/MnMCount/.project
spark_demo/MnMCount/.settings/org.eclipse.core.resources.prefs
spark_demo/MnMCount/.settings/org.eclipse.jdt.core.prefs
.gitignore
spark_demo/sparkapp/project/build.properties
spark_demo/sparkapp/project/target/config-classes/$0c7fee677529902bca4a$.class
spark_demo/sparkapp/project/target/config-classes/$0c7fee677529902bca4a.cache
spark_demo/sparkapp/project/target/config-classes/$0c7fee677529902bca4a.class
spark_demo/sparkapp/project/target/config-classes/$77c650bdcca1531db263$.class
spark_demo/sparkapp/project/target/config-classes/$77c650bdcca1531db263.cache
spark_demo/sparkapp/project/target/config-classes/$77c650bdcca1531db263.class
spark_demo/sparkapp/project/target/config-classes/$d018d51e665c93812be4$.class
spark_demo/sparkapp/project/target/config-classes/$d018d51e665c93812be4.cache
spark_demo/sparkapp/project/target/config-classes/$d018d51e665c93812be4.class
spark_demo/sparkapp/project/target/config-classes/$f5607ffd523ffa3acf1e$.class
spark_demo/sparkapp/project/target/config-classes/$f5607ffd523ffa3acf1e.cache
spark_demo/sparkapp/project/target/config-classes/$f5607ffd523ffa3acf1e.class
spark_demo/sparkapp/project/target/scala-2.12/sbt-1.0/sync/copy-resource
spark_demo/sparkapp/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
spark_demo/sparkapp/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
spark_demo/sparkapp/project/target/streams/_global/_global/_global/streams/out
spark_demo/sparkapp/project/target/streams/_global/csrConfiguration/_global/streams/out
spark_demo/sparkapp/project/target/streams/_global/csrProject/_global/streams/out
spark_demo/sparkapp/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
spark_demo/sparkapp/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
spark_demo/sparkapp/project/target/streams/_global/ivyConfiguration/_global/streams/out
spark_demo/sparkapp/project/target/streams/_global/ivySbt/_global/streams/out
spark_demo/sparkapp/project/target/streams/_global/moduleSettings/_global/streams/out
spark_demo/sparkapp/project/target/streams/_global/projectDescriptors/_global/streams/out
spark_demo/sparkapp/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
spark_demo/sparkapp/project/target/streams/_global/update/_global/streams/out
spark_demo/sparkapp/project/target/streams/compile/_global/_global/compileOutputs/previous
spark_demo/sparkapp/project/target/streams/compile/_global/_global/discoveredMainClasses/data
spark_demo/sparkapp/project/target/streams/compile/bspReporter/_global/streams/out
spark_demo/sparkapp/project/target/streams/compile/compile/_global/streams/out
spark_demo/sparkapp/project/target/streams/compile/compileIncremental/_global/streams/export
spark_demo/sparkapp/project/target/streams/compile/compileIncremental/_global/streams/out
spark_demo/sparkapp/project/target/streams/compile/copyResources/_global/streams/out
spark_demo/sparkapp/project/target/streams/compile/dependencyClasspath/_global/streams/export
spark_demo/sparkapp/project/target/streams/compile/exportedProducts/_global/streams/export
spark_demo/sparkapp/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
spark_demo/sparkapp/project/target/streams/compile/incOptions/_global/streams/out
spark_demo/sparkapp/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
spark_demo/sparkapp/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
spark_demo/sparkapp/project/target/streams/compile/managedClasspath/_global/streams/export
spark_demo/sparkapp/project/target/streams/compile/scalacOptions/_global/streams/out
spark_demo/sparkapp/project/target/streams/compile/unmanagedClasspath/_global/streams/export
spark_demo/sparkapp/project/target/streams/compile/unmanagedClasspath/_global/streams/out
spark_demo/sparkapp/project/target/streams/compile/unmanagedJars/_global/streams/export
spark_demo/sparkapp/project/target/streams/runtime/dependencyClasspath/_global/streams/export
spark_demo/sparkapp/project/target/streams/runtime/exportedProducts/_global/streams/export
spark_demo/sparkapp/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
spark_demo/sparkapp/project/target/streams/runtime/fullClasspath/_global/streams/export
spark_demo/sparkapp/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
spark_demo/sparkapp/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
spark_demo/sparkapp/project/target/streams/runtime/managedClasspath/_global/streams/export
spark_demo/sparkapp/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
spark_demo/sparkapp/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
spark_demo/sparkapp/project/target/streams/runtime/unmanagedJars/_global/streams/export
spark_demo/sparkapp/target/scala-2.12/hohoapp_2.12-1.0.jar
spark_demo/sparkapp/target/scala-2.12/classes/src/main/scala/AvgAgeCalculator$.class
spark_demo/sparkapp/target/scala-2.12/classes/src/main/scala/AvgAgeCalculator.class
spark_demo/sparkapp/target/scala-2.12/sync/copy-resource
spark_demo/sparkapp/target/scala-2.12/update/update_cache_2.12/inputs
spark_demo/sparkapp/target/scala-2.12/update/update_cache_2.12/output
spark_demo/sparkapp/target/scala-2.12/zinc/inc_compile_2.12.zip
spark_demo/sparkapp/target/streams/_global/_global/_global/streams/out
spark_demo/sparkapp/target/streams/_global/csrConfiguration/_global/streams/out
spark_demo/sparkapp/target/streams/_global/csrProject/_global/streams/out
spark_demo/sparkapp/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
spark_demo/sparkapp/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
spark_demo/sparkapp/target/streams/_global/ivyConfiguration/_global/streams/out
spark_demo/sparkapp/target/streams/_global/ivySbt/_global/streams/out
spark_demo/sparkapp/target/streams/_global/moduleSettings/_global/streams/out
spark_demo/sparkapp/target/streams/_global/projectDescriptors/_global/streams/out
spark_demo/sparkapp/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
spark_demo/sparkapp/target/streams/_global/update/_global/streams/out
spark_demo/sparkapp/target/streams/compile/_global/_global/compileOutputs/previous
spark_demo/sparkapp/target/streams/compile/_global/_global/discoveredMainClasses/data
spark_demo/sparkapp/target/streams/compile/bspReporter/_global/streams/out
spark_demo/sparkapp/target/streams/compile/compile/_global/streams/out
spark_demo/sparkapp/target/streams/compile/compileIncremental/_global/streams/export
spark_demo/sparkapp/target/streams/compile/compileIncremental/_global/streams/out
spark_demo/sparkapp/target/streams/compile/copyResources/_global/streams/out
spark_demo/sparkapp/target/streams/compile/dependencyClasspath/_global/streams/export
spark_demo/sparkapp/target/streams/compile/externalDependencyClasspath/_global/streams/export
spark_demo/sparkapp/target/streams/compile/incOptions/_global/streams/out
spark_demo/sparkapp/target/streams/compile/internalDependencyClasspath/_global/streams/export
spark_demo/sparkapp/target/streams/compile/internalDependencyClasspath/_global/streams/out
spark_demo/sparkapp/target/streams/compile/mainClass/_global/streams/out
spark_demo/sparkapp/target/streams/compile/managedClasspath/_global/streams/export
spark_demo/sparkapp/target/streams/compile/packageBin/_global/streams/inputs
spark_demo/sparkapp/target/streams/compile/packageBin/_global/streams/out
spark_demo/sparkapp/target/streams/compile/packageBin/_global/streams/output
spark_demo/sparkapp/target/streams/compile/scalacOptions/_global/streams/out
spark_demo/sparkapp/target/streams/compile/unmanagedClasspath/_global/streams/export
spark_demo/sparkapp/target/streams/compile/unmanagedClasspath/_global/streams/out
spark_demo/sparkapp/target/streams/compile/unmanagedJars/_global/streams/export
nlp/data/FashionMNIST/
nlp/output/best_model_state_sentiment_analysis.bin
nlp/AIWIN_互联网舆情识别/bert-ner.pt
data_analysis/American_Express_Default_Prediction/data/
hoho_cu/data/
hoho_cu/catboost_info/catboost_training.json
hoho_cu/catboost_info/learn_error.tsv
hoho_cu/catboost_info/time_left.tsv
hoho_cu/catboost_info/learn/events.out.tfevents
hoho_cu/catboost_info/tmp/cat_feature_index.c006e777-dc7384fa-9604aedf-68ee0631.tmp
hoho_cu/catboost_info/tmp/cat_feature_index.f8fc02c4-92670205-9c6d2693-f4fc953.tmp
hoho_cu/output/cu_best_model_sentiment_analysis.bin
nlp/.ipynb_checkpoints/abnomaly_detection_demo-checkpoint.ipynb
data_science/flask_demo/__pycache__/jieba_model.cpython-39.pyc
nlp/.ipynb_checkpoints/bert2bert_demo-checkpoint.ipynb
nlp/.ipynb_checkpoints/question_sentence_classification-checkpoint.ipynb
*.pyc
